<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762028448106-h6gi5nm363f8kug5pceiclhdpmu26kca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762028448106-h6gi5nm363f8kug5pceiclhdpmu26kca</string>
	<key>API_KEY</key>
	<string>AIzaSyDsddRy4fyLeMhWkC9MiJLBwnDF2QNqQCE</string>
	<key>GCM_SENDER_ID</key>
	<string>762028448106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cataloguer</string>
	<key>PROJECT_ID</key>
	<string>cataloguer-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>cataloguer-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762028448106:ios:639b1e8f88c5ab9ccded13</string>
</dict>
</plist>